<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <style>
      table {
        border-collapse: collapse;
        width: 60%;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }
    
      tr:nth-child(even) {background-color: #f2f2f2;}

      th {
        background-color: #808080;
        color: white;
      }

      table, th, td {
        border: 2px solid black;
      }

    </style>
  </head>
  <body>
    <div class="sidenav">
        <a href="#">About</a>
        <a href="admin">Admin</a>
        <a href="/">Interactive</a>
        <a href="analytics">Analytics</a>
        <a href="#">Patient Portal</a>
        <a href="#">Contact</a>
    </div>

    <div class = "main">
        <table id="table" data-flat="true" data-search="true">
         <h2>Connectivity Status</h2>
        <thead>
            <tr>
            <th data-field="id">ID</th>
            <th data-field="name">Name</th>
            <th data-field="label">Label</th>
            <th data-field="status">Status</th>
            </tr>
        </thead>
    </div>
</table>

<script type="text/javascript" 
      src="{{ url_for('static', filename='admin.js') }}">
</script>

<script type="text/javascript">
    var data = {{ data | safe }}
    myVar = processData(data)
</script>

  </body>
</html>