<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Data Analytics</title>

  <!-- Load d3.js and plugin for color scale -->
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
  </head>
  <body>
    <div class="sidenav">
        <a href="#">About</a>
        <a href="admin">Admin</a>
        <a href="/">Interactive</a>
        <a href="analytics">Analytics</a>
        <a href="#">Patient Portal</a>
        <a href="#">Contact</a>

    </div>


  <!-- Create a div where the graph will take place -->
   <div class = "main">
   <div class="row">
   <h2>Response Histogram</h2>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div id="my_dataviz"></div>
          </div>
        </div>
      </div>
  </div>

  <script type="text/javascript" 
      src="{{ url_for('static', filename='analytics.js') }}">
  </script>


  <script type="text/javascript">
    var data = {{ data | safe }};
    var myVar = processData(data);
  </script>

  </body>
</html>